@import '../../index.scss';

.write-page {
  display: flex;
  justify-content: space-between;
}

.write-page-bars-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 15vh;
  width: 77vw;
  margin: 1vh 0vw 0vh 1vw;
}