@import '../../index.scss';

.bar-wrapper {
  display: flex;
  border: 2px solid black;
  width: 97%;
  height: 5vh;
  border-radius: 3px;
  margin: 4px;
  p {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 4vw;
    color: $main-accent;
    padding-left: 1vw;
  }
  input {
    width: 100%;
    outline: none;
    border: none;
    font-size: 11pt;
  }
  button {
    border: none;
    outline: none;
    // background-color: white;
    font-size: 12pt;
    font-weight: 700;
    padding-right: 1vw;
    &:hover {
      cursor: pointer;
      color: $fourth-accent;
    }
  }
}