@import '../../index.scss';

@keyframes slidein {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.lyric {
  border-radius: 3px;
  opacity: .8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin: 0px 0px 2px 0px;
  width: 85%;
  border: solid black 2px;
  &:hover {
    cursor: pointer;
    background-color: $third-background;
    opacity: .7;
    color: white;
  }
}

.lyric-title {
  font-weight: 700;
  margin: 10px 0px 0px 15px;
}

.lyric-date {
  opacity: .7;
  font-size: .7rem;
  margin: 5px 0px 10px 15px;
}

.home-page-image {
  position: absolute;
  z-index: -10;
  img {
    width: 100vw;
  }
}

.delete-btn {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 3vw;
  outline: none;
  border: none;
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  &:hover {
    background-color: white;
    cursor: pointer;
    background-color: $main-accent;
    opacity: .7;
    color: white;
  }
}

.delete-confirm-wrapper {
  height: 100%;
  font-size: .8rem;
  font-weight: 700;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $main-accent;
  animation: slidein .2s;
  overflow: hidden;
  transform-origin: right;
  p {
    padding: 0px 10px;
  }
  button {
    height: 100%;
    font-weight: 700;
    background-color: $main-accent;
    border: none;
    outline: none;
    &:hover {
      background-color: white;
      opacity: .7;
      cursor: pointer;

    }
  }
}