@import '../../index.scss';

.rhyme-box {
  box-shadow: 10px 10px 28px -14px rgba(77,77,77,1);
  position: relative;
  z-index: 100;
  top: 17vh;
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 82vh;
  overflow-y: scroll;
  background-color: white;
  opacity: .7;
  border-radius: 4px 0px 0px 4px;
  border-left: solid black 2px;
  .rhyme-box-title {
    border-top: solid black 2px;
    opacity: .9;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
    position: fixed;
    align-self: center;
    .rhyme-selected {
      margin: 5px 0px 10px 0px;
      color: $main-accent;
    }
    .rhyme-title {
      color: white;
      margin: 15px 0px 0px 0px;
    }
  }
}

.all-rhymes {
  margin-top: 80px;
}

.rhyme-box::-webkit-scrollbar { 
  width: 0 !important;
}

