@import '../../index.scss';

.rhyme-box {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 85vh;
}

.rhyme-word {
  font-size: 10pt;
  background-color: $third-background;
  display: flex;
  align-items: center;
}

