@import "../../index.scss";
@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


@keyframes scrollDown {
  0% {
    -moz-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  100% {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

.perform-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    position: fixed;
    z-index: 0;
    max-width: 100%;
    height: auto;
  }
}

.perform-page-bars-wrapper {
  overflow-y: hidden;
  border: solid black 2px;
  border-radius: 4px;
  margin-top: 20px;
  background-color: white;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 15vh;
  z-index: 91;
  width: 70vw;
  height: 80vh;
  box-shadow: 10px 10px 28px -14px rgba(77, 77, 77, 1);
  .scroll-on {
    animation: scrollDown 50s linear 1;
  }
  .perform-lyric-title {
    position: relative;
    z-index: 92;
    font-family: 'Rock Salt', cursive;
    background-color: black;
    color: white;
    width: 100%;
    padding: 0px 0px 0px 20px;
    margin: 0;
    border-bottom: solid black 1px;
  }
  .scroll-btn {
    position: fixed;
    z-index: 93;
    align-self: flex-end;
    width: 15vw;
    height: 7vh;
    border: none;
    outline: none;
    font-size: 1.4rem;
    background-color: $third-background;
    color: white;
    &:hover {
      cursor: pointer;
      opacity: .7;
    }
  }
  .lyric-section {
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    h3 {
      padding-left: 20px;
      align-self: flex-start;
      color: $third-background;
    }
  }
}

.display-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0;
  .display-bar-num {
    margin: 0px 20px;
    color: $main-accent;
  }
}
