@import '../../index.scss';
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


.nav-bar {
  font-family: 'Muli', sans-serif;
  display: flex;
  justify-content: flex-start;
  background-color: black;
  height: 15vh;
  position: fixed;
  z-index: 100;
  width: 100%;
  opacity: .8;
}

.nav-bar-logo {
  position: relative;
  z-index: 1;
  height: 13vh;
  margin: 7px 0px 0px 13px;
  padding: 0;
}

.nav-bar-links-wrapper {
  display: flex;
  // justify-content: space-around;
  align-items: center;
  padding: 0px 80px;
  width: 20vw;
}

.nav-bar-link {
  font-size: 16pt;
  margin: 20px;
  text-decoration: none;
  color: white;
  &:hover {
    color: $fourth-accent;
    opacity: .9;
  }
}

.active {
  color: $main-accent;
  font-weight: 700;
}
