// $main-background: #173842;
// $second-background: #4C7889;
// $third-background: #4F92A9;
// $main-accent: #FA3527;
// $second-accent: #B1E2F0;
// $third-accent: #F0F9FC;
// $fourth-accent: #E3A59A;

@import '../../index.scss';

.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: black;
  height: 15vh;
  position: fixed;
  z-index: 100;
  width: 100%;
}

.nav-bar-logo {
  position: relative;
  z-index: 1;
  height: 35vh;
  margin: -60px -20px -80px -20px;
  padding: 0;
}

.nav-bar-links-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 40px;
  width: 20vw;
}

.nav-bar-link {
  font-size: 16pt;
  margin: 20px;
  text-decoration: none;
  color: white;
  &:visited {
    color: white;
  }
  &:hover {
    color: $fourth-accent;
    opacity: .9;
  }
}
