$main-background: #173842;
$second-background: #4C7889;
$third-background: #4F92A9;
$main-accent: #FA3527;
$second-accent: #B1E2F0;
$third-accent: #F0F9FC;
$fourth-accent: #E3A59A;

body {
  overflow: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
