@import '../../index.scss';
@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.help-page-wrapper {
  background-color: white;
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
};

.help-page-title {
  margin: 10px 0px 20px 0px;
  font-family: 'Rock Salt', cursive;
  font-size: 2rem;
  color: $third-background;
}

.help-page-img {
  width: 100%;
  height: auto;
}

.help-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 20vh;
  position: fixed;
  background-color: white;
  width: 80vw;
  opacity: .9;
  border: solid black 2px;
  border-radius: 4px;
  height: 80vh;
  overflow-y: scroll;
  box-shadow: 10px 10px 28px -14px rgba(77,77,77,1);
}

.help-page-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  margin-bottom: 50px;
  h3 {
    color: $third-background;
    font-size: 1.6rem;
    font-family: 'Muli', sans-serif;
  }
  p {
    text-align: center;
  }
  img {
    border-radius: 8px;
  }
}

