@import '../../index.scss';

.rhyme-word {
  animation: fadein 1s;
  border: 2px solid black;
  font-size: 12pt;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1px;
  border-radius: 3px;
  padding: 0px 15px;
  p {
    margin: 0;
    padding: 8px;
  }
  &:hover {
    cursor: pointer;
    opacity: .8;
    background-color: $third-background;
    color: white;
  }
}

.copied-message {
  animation: copied 2s;
  font-size: .7rem;
  font-weight: 700;
  opacity: 0;
  margin-right: 5px;
}

@keyframes copied {
  0% {
    opacity: 0;
  }
  20% {
    opacity: .5;
    transform: scale(1.4);
  }
  50% {
    opacity: .75;
    transform: scale(1);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}